body {
    /*! background-color: black; */
    /*width   : 1024px;
    margin  : auto;
    padding : 60px;*/
    width: 1366px;
    /*! height:1340px; */ /* /*768px;*/
    margin: auto;
    padding-bottom: 2in;
    /*! background-color: black; */
    /*background: linear-gradient(to right, #ffff8b, #ffd929, #b66d03, #6d3300, #8c4900, #8c2e00, #642200, #3a1a02, #642200, #8c2e00, #8c4900, #6d3300, #b66d03, #ffd929, #ffff8b);*/
    /*background: linear-gradient(to right, #ffe85100, #ffe851ff, #ffe85100);*/
    /*background: linear-gradient(to bottom, #ffe851ff, #3a1a02); /*#ffe851ff, #ffe85100);*/
    /*background: linear-gradient(to bottom, #ffff8b 0%, #ffd929 15%, #b66d03 60%, /*#6d3300 80%,*/ /*#8c4900 85%,*//* #8c2e00 80%, #642200 98%, #3a1a02 100%);*/
    /*background: linear-gradient(to right, white 0%, #ffff8b 35%, #ffd929 36%, #ffff8b 100%); /* #b66d03, #6d3300, #8c4900, #8c2e00, #642200, #3a1a02, #642200, #8c2e00, #8c4900, #6d3300, #b66d03, #ffd929, #ffff8b 100%);*/
    background: linear-gradient(to right, #ffd92999 0%, #ffd929 10%, /*#b66d03 50%,*/ #ffd929 90%, #ffd92999 100%); /*, #ffd929 90%);*/
}

/*.header {
    width : 100%;
}*/

.sidebar_content {
    margin-left:40px;
}

.design_is > p {
    margin: 0;
    margin-left: 37px;
    /*width: 291.041px;*/
    font-family: Quattrocento-Regular;
    font-size: 17px;
    line-height: 1.51;
    color: var(--wd-dark-purple);
    /*color: #1a0238;*/
}

.preview_image {
    width: 3.75in;
    height: 3.75in;
    /*padding:.25in;*/
    /*position: relative;
    top: -2in;*/
    overflow: hidden;
    /*border: 1px solid black;*/
    border-radius: 100%;
    background-color: aquamarine;
}

#paper {
    /*width: 1366px;*/
    /*height: 100%;*/
    margin: auto;
    /*height: 768px;*/
    /*margin-bottom: 2in;*/
    /*padding: 1in;*/
    padding-left: 1in;
    padding-right: 1in;
    padding-bottom: 0;
    background-color: white;
    box-shadow: -2px 5px 40px 0px #b66d03; /* 40px 10px #b66d03;*/
    /*border: 1px solid black;*/
    /*border-style: solid;
    border-width: 50px;
    border-image: linear-gradient(to right, #ffff8b, #ffd929, #b66d03, #6d3300, #8c4900, #8c2e00, #642200, #3a1a02);*/
}

#content {
    /*border: 1px solid black;*/
    display: flex;
    /*margin: 1in;
    margin-bottom: 0;*/
}

#col_left {
    width: 52%;
    /*border: 1px solid blue;*/
    /*! background-color: black; */
    /*! height: 11in; */
}


#logo {
    position: sticky;
    top: 0in;
    
    padding-top: 1in;
    background-color: white;
    z-index: 2;
}


#logo > object { /*#header_logo {*/
    width: 100%;
}

#ds_is_everything {
margin-top:50px;
height: 198px;
}

#nav {
    width: 250px;
    
    position: sticky;
    /*! top: 93%; */ /* /*5in; /*9.5in;*/
    /*! bottom: .5in; */
   
    /*! margin-top: 40px; */
    margin-left: 74px;
    /*! margin-bottom: 0.5in; */
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /*! position: sticky; */
    /*! bottom: .5in; */
    /*! z-index: 1; */
    top: 90%;
    margin-bottom: .5in;
}

#nav > a {
    font-family: Quattrocento-Regular;
    font-size: 28px;
    text-decoration: none;
    color: var(--wd-grey);
}

#nav > a:hover, #link_titles > a:hover { /*p:hover {*/
    color: var(--wd-light-purple);
}

#nav > span {
    color: var(--wd-grey); /*-dark-purple);*/
    font-family: Quattrocento-Regular;

    /*! float: right; */
    /*! align-items: baseline; */
    /*! align-self: right; */
    font-size: 12px;
}

#col_right {
    padding-left:.5in;
    /*! position: relative; */
    /*top: -2in;*/
    flex-grow: 2;
    /*border: 1px solid red;*/
}

#link_images {
    /*margin-top: -225%;*/

    /*! position: relative; */
    /*top: -16in;*/
    /*! top: -65%; */
    /*! z-index: 2; */
    
    display: flex;
    flex-wrap: wrap;
    /*! display: none; */
    /*! top: -13in; */
    /*! top: -2in; */
    /*! position: static; */
    /*! top: 0; */
    /*! position: absolute; */
    /*! top: 9.5in; */
    margin-top: -2in;
    /*! z-index: 1; */
    /*! position: relative; */
    /*! top: -2in; */
    pointer-events: none;
}

#link_images > div {
/*background-color:blue;*/
}

#link_titles {
    /*! height: 16in; */
    /*! width: 50%; */
    /*! position: relative; */
    /*! left: 25%; */
    /*! z-index: 1; */

    /*! background-color:yellow; */ /*! opacity:0.5; */
    /*! top: -65%; */
    /*! display: none; */
    /*! position: static; */
    /*! top: 0; */
    top: 0;
    /*! position: relative; */
    z-index: 9000;
    /*! position: absolute; */
    /*! top: -11.5in; */
    margin-top: -9.5in;
}

#link_titles > a { /*p {*/
    /*! margin: 0; */
    /*! padding: 0; */
    /*! padding-top: 3.40in; */
    text-align:center;

    font-family:Quattrocento-Regular;
    font-size:30px;
    color: var(--wd-grey); /*#bdbdbd;*/
    text-decoration: none;
    display: block;
    padding-top: 1.7in;
    padding-bottom: 1.7in;
    /*! background-color: black; */
    /*! border: 1px solid white; */
}

#link_titles > a:first-child { /*p:first-child {*/
    padding-top: 1.9in;
}

#link_titles > a:last-child {
    padding-bottom: 0.5in;
}

/*
#link_titles > a:hover {
    color: var(--wd-light-purple);
}*/

#WE_logo, .preview_image > img {
    height: 180%;
    position: relative;
    bottom: 30%;
    right: 80%;
}

/*
#hline1 {
    margin-top    : 100px;
    margin-bottom : 0px;
    padding-left  : 60px;
    font-family   : ChunkFive;
    font-size     : 72px;
    font-weight   : normal;
    color         : #b3b3b3;
}

#hline2 {
    margin-top    : 30px;
    margin-bottom : 0px;
    padding-left  : 170px;
    color         : #666666;
    font-family   : Quattrocento-Regular;
    font-size     : 42px;
    
}

#hline3 {
    margin-top   : 50px;
    padding-left : 300px;
}
/*
#hline4 {
    margin        : 0;
    padding-left  : 309px;
    color         : #666666;
    font-family   : Quattrocento-Regular;
    font-size     : 16px;
}

/* TODO: Fix this. Find a better solution. * /
#code {
    padding-right: 51px;
}

#graphics {
    padding-right: 16px;
}

#writings {
    padding-right: 26px;
}

#music {
    padding-right: 33px;
}

#copyright {
    display       : inline;
    margin        : 0;
    text-align    : right;
}
*/
