body {
    width: 1366px;
    margin: auto;
    padding-bottom: 2in;
    background: linear-gradient(to right, #ffd92999 0%, #ffd929 10%, /*#b66d03 50%,*/ #ffd929 90%, #ffd92999 100%);
}

.sidebar_content {
    margin-left:40px;
}

.design_is > p {
    margin: 0;
    margin-left: 37px;
    font-family: Quattrocento-Regular;
    font-size: 17px;
    line-height: 1.51;
    color: var(--wd-dark-purple);
}

.preview_image {
    width: 3.75in;
    height: 3.75in;
    overflow: hidden;
    border-radius: 100%;
    background-color: aquamarine;
}

.featured_photo {
/*    margin-top: 2in;*/
    height:3.5in;
    width: 4in;
    object-fit: cover;
    display: block-inline;
    opacity: 0.75;
}

.featured_photo:first-of-type {
    width: 8in;
}

.featured_photo:hover {
    /*opacity: 0.5;*/
    opacity: 1;
}

#paper {
    margin: auto;
    padding-left: 1in;
    padding-right: 1in;
    padding-bottom: 1in;
    background-color: white;
    box-shadow: -2px 5px 40px 0px #b66d03;
}

#content {
    display: flex;
}

#col_left {
    width: 52%;
}


#logo {
    position: sticky;
    top: 0in;
    
    padding-top: 1in;
    background-color: white;
    z-index: 2;
}


#logo > object {
    width: 100%;
}

#ds_is_everything {
margin-top:50px;
height: 198px;
}

#nav {
    width: 250px;
    position: sticky;
    margin-left: 74px;
    
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    top: 90%;
    /*margin-bottom: .5in;*/
}

#nav > a {
    font-family: Quattrocento-Regular;
    font-size: 28px;
    text-decoration: none;
    color: var(--wd-grey);
}

#nav > a:hover, #link_titles > a:hover {
    color: var(--wd-light-purple);
}

#nav > span {
    color: var(--wd-grey);
    font-family: Quattrocento-Regular;
    font-size: 12px;
}

#col_right {
    padding-left:.5in;
    flex-grow: 2;
}

#link_images, #photos {
    display: flex;
    flex-wrap: wrap;
    margin-top: -2in;
    pointer-events: none;
}

#photos {
    margin: 0;
    /*margin-bottom: .5in;*/
    pointer-events: inherit;
}

#link_titles {
    margin-top: -9.5in;
}

#link_titles > a {
    text-align:center;

    font-family:Quattrocento-Regular;
    font-size:30px;
    color: var(--wd-grey);
    text-decoration: none;
    display: block;
    padding-top: 1.7in;
    padding-bottom: 1.7in;
}

#link_titles > a:first-child {
    padding-top: 1.9in;
}

#link_titles > a:last-child {
    /*! padding-bottom: 0.5in; */
    padding-bottom: 0.25in;
    padding-top: 2in;
}

#WE_logo, .preview_image > img {
    height: 180%;
    position: relative;
    bottom: 30%;
    right: 80%;
}

#coding_gif_container {
    background-color: white;
}

#coding_gif {
    height: 60%;
    /*! bottom: 0; */
    right: 18%;
    top: 5%;
}

#WD_screenshot {
    height: 100%;
    left: 0;
    top: 0;
}


